Weather for {{ weather.city }}, {{ weather.region }}, {{ weather.country }}
---
Current temperature {{ weather.temp_c }}°C
Current wind speed {{ weather.wind_kph }} km/h
Precipitation today {{ weather.precip_mm }} mm
Humidity {{ weather.humidity }}%
UV index {{ weather.uv }}